@model Book_Store_App.Models.Domain.Author
@{
     
}

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <h3>Update Author</h3>
            <form asp-action="Update" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">

                    <label asp-for="AuthorName">Name</label>
                    
                    <input type="text" class="form-control" asp-for="AuthorName" />
                    <span asp-validation-for="AuthorName" class="text-danger"></span>
                </div>
                @if (TempData["Message"] != null)
                {
                    <div class="form-group">

                        <label asp-for="AuthorName">Name*</label>

                        <input type="text" class="form-control" asp-for="AuthorName" />
                        <span asp-validation-for="AuthorName"></span>
                    </div>
                    
                }

                <button type="submit"class="btn btn-dark">Save</button>
                <a href="/Author/GetAll" class="btn btn-primary"> List</a>

            </form>

        </div>

    </div>
        
</div>

